body {
    font-family: "Lucida Handwriting", Lucida, cursive;
    background-color:  #36393e;
    color: rgba(245, 245, 245, 0.842);
    margin: 0px;
    padding: 0px;
    
}

p {
    padding: 0.5%;
}

a {
    padding: 0.3%;
    text-decoration: none;
    color: rgba(43, 171, 230, 0.842);
}

a:hover {
    color: rgb(174, 140, 255);
    text-decoration: underline;
}

.image {
    border-radius: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    background-color: #babdc2;
    color: #36393e;
    padding: 1px
}

header > h1 {
    text-align: center;
}

#Recipe {
    background-color: #43474d;
    border-radius: 15px;
    margin: 2%;
}

#Recipe > h3, li{
    padding: 1%
}

footer > a > button {
    font-weight: bold;
    font-family: "Lucida Handwriting", Lucida, cursive;
    border-radius: 25px;
    margin: 1%;
    padding: 2.5%;
    color: rgba(245, 245, 245, 0.842);
    background-color: #36393e;
}

footer > a > button:hover {
    border-radius: 25px;
    margin: 1%;
    padding: 2.5%;
    color: rgba(245, 245, 245, 0.842);
    background-color: #470d0d;
}